.scrollbar {
  overflow-y: auto;
  max-height: 15rem;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
